.bg-form{
    background: #E5E5E5;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;

    >div{
      display: flex;

      h1{
        font-size: 25px;
        font-weight: 700;
        line-height: 24px;
        color: #5914DF;
        font-family: 'Roboto', sans-serif;
      }

      h4{
        font-size: 10px;
        font-weight: 400;
        line-height: 20px;
        color: #757171;
        font-family: 'Roboto', sans-serif;
      }
    }

    form{
      display: flex;
      justify-content: space-around;
      flex-flow: column wrap;

      input, button{
        margin: 30px;
      }
    }
}
